:root {
    --body-bg-color: #3d4550;
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #797e84;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --border-card-color: rgb(70 70 70);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --subtitle-bg: rgb(0 102 153);
    --search-bg: rgb(255 255 255 / 8%);
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: #428bff;
    --border-box: #777;
    --shador-color-icons: rgb(79 79 79 / 100%);
    --subtitle: rgb(255 255 255 / 100%);
    --search-color: rgb(155 155 155 / 100%);
    --search-color-over: #fff;
    --footer-bg-color: #2a303a;
    --box-color-shadow-01: rgba(0, 0, 0, 0.2);
    --text-a-color: #ccc;
}

#myDivbrave{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivfire{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivchrome{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivchromium{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivvivaldi{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivopera{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}
#myDivedge{
  position: absolute;
  margin-top: -26px;
  margin-left: 122px;
}

.biglinux-dashboard {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.biglinux-center-panel {
    background-color: var(--theme-bg-color);
    border-radius: 10px;
    /* width: 100%; */
    padding: 1rem;
    /* margin-right: 1rem; */
    flex-shrink: 0;
    text-align: left;
    margin-top: 15px;
}

.biglinux-center-panel h4 {
  color: var(--text-a-color);
  margin: 1rem 1rem 0;
}

.biglinux-left-panel {
  background-color: var(--theme-bg-color);
  border-radius: 10px;
  width: 49%;
  margin-right: 1rem;
  flex-shrink: 0;
  text-align: left;
}

.biglinux-left-panel h4 {
  color: var(--text-a-color);
  margin: 1rem 1rem 0;
}

.biglinux-card-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.biglinux-card-list-item {
  padding: 0.75rem;
  transition: background-color 64ms ease-out;
}
.biglinux-card-list-item:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
.biglinux-card-list-item:not(:last-child) {
  border-bottom: solid 1px #f2f2f2;
}

.box-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    display: inline-table;
}

.box-imagem-icon {
    color: #4285f4;
    height: 64px;
    width: 64px;
    filter: drop-shadow(0px 0px 2px var(--shador-color-icons));
}

.box-geral-icons {
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 190px;
    height: 150px;
}

.box-geral-button {
    background: none;
    color: inherit;
    border: none;
    padding: 16px;
    width: 220px;
    height: 150px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: -webkit-center;
}
.box-items .box-geral-icons:hover:hover {
    transform: scale(1.02);
    background-color: var(--theme-bg-color);
}

.box-items .box-geral-icons:hover {
    background: #e0e0e0;
    text-decoration: none;
    flex-direction: column;
    width: calc(110% - 20px);
    background-color: var(--content-bg);
    border-radius: 14px;
    box-shadow: 0px 0px 1px 1px var(--border-box);
    cursor: pointer;
    transition: 0.3s ease;
    padding: 16px;
    width: 220px;
    height: 150px;
}
.box-items .box-geral-icons:active:active {
  background-color: var(--theme-bg-color);
  border-radius: 14px;
  box-shadow: 0px 0px 1px 1px var(--border-box);
}
.box-items .box-geral-icons:visited:visited {
  background-color: var(--theme-bg-color);
  border-radius: 14px;
  box-shadow: 0px 0px 1px 1px var(--border-box);
}
.box-items .box-geral-icons:focus:focus {
  background-color: var(--theme-bg-color);
  border-radius: 14px;
  box-shadow: 0px 0px 1px 1px var(--border-box);
}

.box-titulo {
    width: 200px;
    padding-top: 6px;
    text-align: center;
}

.box-icondefault {
    width: 16px;
    padding-top: 6px;
    border: 1px solid red;
    display: flex;
    position: relative;
    left: 42px;
}

.options-social {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    text-align: right;
    top: -44px;
    text-decoration: none;
    margin: -10px;
}

.options-social a {
    padding: 5px;
    width: 70px;
    height: 70px;
    fill: #fff;
    color: #fff;
    text-decoration: none;
}
.options-social a:hover {
    filter: invert(30%);
/*    fill: #ccc;
    color: #ccc;*/
    text-decoration: none;
}

/* LOGO */
.logo {
    /* filter: invert(50%); */
    /* border: 1px solid red; */
    display: block;
    position: absolute;
    /* margin-left: -45px; */
    bottom: 0px;
    z-index: 1;
}

.logo img {
  /*border: 1px solid red;*/
  /*position: absolute;*/
  margin: 5px;
  width: 40px;
}

.logo a {
  /*border: 1px solid green;*/
  width: 100%;
  height: 100%;
  display: block;
}

body, html {
  padding: 0;
  margin: 0;
  /*background: #3d4550;*/
  font-family: "Lato", sans-serif;
  color: #3d4550;
  overflow: hidden; /* Hide scrollbars */  
}

.wrapper {
  position: relative;
  /*max-width: 1080px;*/
  max-width: 100%;
  margin: 0px auto;
}

.wizard {
/*  max-width: 620px;
  margin: 0 auto;*/
    max-width: 100%;
    margin: 0 auto;
}
.wizard__header {
  position: relative;
  color: #FFF;
  padding: 25px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  height: 100px;
  /*background: url($background-url);*/
  background-color: rgba(16, 18, 27, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wizard__header-content {
    position: absolute;
    width: 99%;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red;*/
}
.wizard__header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(16, 18, 27, 0.6);*/
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*background-image: url(texture/cubes.png), linear-gradient(to right top, #185a9d, #43cea2);*/
  background-image: url(texture/escheresque.png), linear-gradient(to right top, #0086ca, #000046);
}
.wizard__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 20px;
  text-align: center;
}
.wizard__subheading {
  /*text-transform: uppercase;*/
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 100px;
  letter-spacing: 2px;
  margin: 20px;
  text-align: center;
}
.wizard__subheading span {
  font-weight: 600;
}
.wizard__steps {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 10;
}
.wizard__footer {
  padding: 0 50px 60px;
  border-radius: 15px;
  text-align: center;
}
.wizard__content {
  background: rgba(16, 18, 27, 0.4);
  color: #fff;
  /*box-shadow: 0px 0px 10px #c5c5c5;*/
  border-radius: 15px;
  height: 100vh;
}
.wizard__congrats-message {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}
.wizard.completed .wizard__content {
  animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}
.wizard.completed .wizard__congrats-message {
  animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}

.line {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: -1;
  height: 6px;
  transition: all 0.5s ease;
}
.line.-start {
  left: 0%;
  background: #3a6df0;
  width: 50%;
}
.line.-end {
  left: 50%;
  background: #3a6df0;
  width: 50%;
}
.line.-bigscreen01 {
  background: #bec5cf;
  width: 100%;
}
.line.-bigscreen02 {
  background: #3a6df0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.line.-bigscreen03 {
  background: #3a6df0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.line.-in-progress {
  transform: scaleX(1);
}

.panels {
  position: relative;
  /*overflow: hidden;*/
  transition: all 0.5s ease;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
  padding: 50px;
}
.panel__header {
  margin-bottom: 30px;
  margin-top: -180px; 
  height: 180px;
}
.panel__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.panel__subheading {
  font-size: 18px;
  line-height: 1.2rem;
  margin: 0;
}
.panel.movingOutBackward {
  transform: translateX(-100%);
  display: block;
  position: absolute;
  transition: all 0.5s ease;
}
.panel.movingOutFoward {
  transform: translateX(-100%);
  display: block;
  position: absolute;
  transition: all 0.5s ease;
}
.panel.movingIn {
  transform: translateX(0);
  /*width: 100%;*/
  display: block;
  position: inherit;
  transition: all 0.5s ease;
  text-align: center;
}

.steps {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
}

.step {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}
.step__content {
  position: relative;
  z-index: 2;
}
.step__number {
  font-size: 1.3rem;
  color: #3d4550;
  background: #FFF;
  font-weight: 800;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #bec5cf;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 5;
}
.step.-completed .step__number {
  opacity: 0;
}
.step.-completed .checkmark {
  z-index: 0;
  animation: fill 0.4s ease-in-out forwards, scale 0.3s ease-in-out 0.6s both;
}
.step.-completed .checkmark__check {
  animation: stroke 0.5s linear 0.4s forwards;
}
.step.-completed .line {
  transform: scaleX(1);
}
.step:last-child .line {
  width: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #3a6df0;
  z-index: -1;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke: #3a6df0;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke: #FFF;
  stroke-width: 5;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox] + span,
input[type=radio] + span {
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    /*cursor: pointer;*/
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}

.button {
  background: none;
  cursor: pointer;
/*  font-size: 1rem;
  line-height: 1rem;
  background: #3a6df0;*/
  color: #FFF;
/*  padding: 10px 15px;*/
  border: none;
  outline: none;
  display: inline-block;
  transition: all 0.3s;
/*  border-radius: 15px;*/
  width:80px;
  height:60px;
}
.button svg{
  width:68px;
  height:60px;
}
.button:hover {
/*  background: #6990f4;*/
color: #428bff;
}
.button.previous {
  margin-right: 5px;  
}

.button.next {
        -webkit-animation: swing 3s ease;
        animation: swing 3s ease;
        -webkit-animation-iteration-count: 3;
        animation-iteration-count: 3;
}

.button.disabled {
/*  background: #bec5cf;*/
color: #aaa;
  cursor: default;
}


@-webkit-keyframes swing
{
    10%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    20%
    {
        -webkit-transform: translateX(-8px);
       transform: translateX(-8px);
    } 
    30%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    40%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    50%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    60%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    70%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    80%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes swing
{
    10%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    20%
    {
        -webkit-transform: translateX(-8px);
       transform: translateX(-8px);
    } 
    30%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    40%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    50%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    60%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    70%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    80%
    {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}



@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  50% {
    transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(0);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #3a6df0;
  }
}
@keyframes gettingOut {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-200%);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}


/* LOGO animation */
#logo-text { 
    width: 100%;
    font-size: 20px;
    letter-spacing: 14px;
    text-align: center;
    animation: showup 3s ease-in;
    text-transform: uppercase;
    margin-left: 10px;
}  
@keyframes showup {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
}
#logo-wrapper { 
  display: inline-block;
  transition: width .245s ease-in, height .245s ease-in;
  opacity: 1; 
  width: 200px; 
  height: 200px;
  
}
#circle-loader {
  transition: width .245s ease-in, height .245s ease-in;
  width: 180px;
  height: 180px; 
  position: absolute; 
  transform-origin: 50% 50%; 
  transform: rotateZ(-90deg);
}
#circle-loader circle {
  fill: transparent; 
  stroke-width: 2px; 
  stroke: url(#linear-gradient);
}
#logo { 
  transition: width .245s ease-in, height .245s ease-in;
  position: relative; 
  width: 180px; 
  height: 180px;
}

