Package: bigcontrolcenter
Version: 1.0.2-2big3
Depends: bigbashview, lxqt-admin, lxqt-admin-l10n, lxqt-config, lxqt-config-l10n
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:1592
Description: Complete control center to use in BigLinux with KDE

