Package: bigcontrolcenter
Version: 1.0.0-1big1
Depends: bigbashview
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:984
Description: Complete control center to use in BigLinux with KDE

