[Desktop Entry]
#Categories=Settings;
Exec=
Icon=android-usb
Name=Connect to the internet using Android
StartupNotify=true
Terminal=false
Type=Application
Category=Phone
