[Desktop Entry]
#Categories=Settings;
Exec=
Icon=ios-usb
Name=Connect to the internet using iOS
StartupNotify=true
Terminal=false
Type=Application
Category=Phone
