[Desktop Entry]
#Categories=Settings;
Exec=
Icon=network-connect
Name=Connect to Internet
StartupNotify=true
Terminal=false
Type=Application
Category=Network
