[Desktop Entry]
Categories=Settings;
Exec=QT_QUICK_BACKEND= kstart5 /usr/bin/bigcontrolcenter
Icon=/usr/share/bigbashview/bcc/apps/bigcontrolcenter/icon.svg
Name[pt_BR]=Central de Controle
Name=Control Center
StartupNotify=true
Terminal=false
Type=Application
