[Desktop Entry]
Categories=Settings;
Exec=bigcontrolcenter
Icon=bigcontrolcenter
Name=Control Center
Name[bg]=Контролен център
Name[cs]=Ovládací centrum
Name[da]=Kontrolcenter
Name[de]=Leitstelle
Name[el]=Κέντρο ελέγχου
Name[es]=Centro de Control
Name[et]=Juhtimiskeskus
Name[fi]=Ohjauskeskus
Name[fr]=Centre de contrôle
Name[he]=מרכז הבקרה
Name[hr]=Kontrolni centar
Name[hu]=Vezérlőközpont
Name[is]=Stjórnstöð
Name[it]=Centro di controllo
Name[ja]=コントロールセンター
Name[ko]=제어 센터
Name[nl]=Bedieningspaneel
Name[no]=Kontrollsenter
Name[pl]=Centrum sterowania
Name[pt]=Central de Controle
Name[ro]=Centrul de control
Name[ru]=Центр управления
Name[sk]=Ovládacie centrum
Name[sv]=Kontrollcenter
Name[tr]=Kontrol Merkezi
Name[uk]=Центр управління
Name[zh]=控制中心
StartupNotify=true
Terminal=false
Type=Application
