[Unit]
Description=Big Welcome
After=plasma-ksmserver.service plasma-kcminit.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/big-welcome
Type=simple
Slice=session.slice

[Install]
WantedBy=plasma-core.target
