[Desktop Entry]
#Categories=Settings;
Exec=big-welcome
Icon=/usr/share/bigbashview/bcc/apps/big-welcome/icon-logo-biglinux.png
Name=Introduction to BigLinux
Name[pt]=Introdução ao BigLinux
Name[es]=Introducción a BigLinux
Name[bg]=Въведение в BigLinux
Name[cs]=Úvod do BigLinuxu
Name[da]=Introduktion til BigLinux
Name[de]=Einführung in BigLinux
Name[el]=Εισαγωγή στο ΜπιγκΛινού
Name[es]=Introducción a BigLinux
Name[et]=BigLinuxi tutvustus
Name[fi]=Johdatus BigLinuxiin
Name[fr]=Introduction à BigLinux
Name[he]=מבוא לביגלינוקס
Name[hr]=Uvod u BigLinux
Name[hu]=Bevezetés a BigLinux használatába
Name[is]=Kynning á BigLinux
Name[it]=Introduzione a BigLinux
Name[ja]=BigLinux の概要
Name[ko]=빅리눅스 소개
Name[nl]=Inleiding tot BigLinux
Name[no]=Introduksjon til BigLinux
Name[pl]=Wprowadzenie do BigLinux
Name[pt]=Introdução ao BigLinux
Name[ro]=Introducere în BigLinux
Name[ru]=Введение в БигЛинукс
Name[sk]=Úvod do BigLinux
Name[sv]=Introduktion till BigLinux
Name[tr]=BigLinux'a Giriş
Name[uk]=Вступ до BigLinux
Name[zh]=BigLinux 简介
StartupNotify=true
Terminal=false
Type=Application
