[Desktop Entry]
#Categories=Settings;
Exec=big-welcome
Icon=/usr/share/bigbashview/bcc/apps/big-welcome/icon-logo-biglinux.png
Name[pt]=Introdução ao BigLinux
Name[es]=Introducción a BigLinux
Name=Welcome to BigLinux
StartupNotify=true
Terminal=false
Type=Application
